.tabla-modal{
   font-size: 15px !important;
 }
 caption{
   font-size: 25px;
 }
 .tabla-modal th{
   /* text-align: center !important; */
   padding-left: 10px !important;
   background-color: #394049;
   color: #fff;
   width: 50%;
}
.tabla-modal td{
    text-align: left;
    padding-left: 10px !important;
    background-color: #c6c6c6;
}