
@page{
  /*margin-top: 0cm;*/
  margin-bottom:130px !important;
  /*margin-left: 0cm;*/
  /*margin-right: 0cm;*/
}
html{
    margin: 0;
}
body {
    /*page-break-inside:avoid !important;*/
    padding: 0 !important;
    margin-top: 21%;
}
/*__Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    font-size: 1.8em;
}
/*__Footer (pie de página)*/
#footer{
  position: fixed;
  bottom: -20px;
  left: 0;
  right: 0;
  /* height: 40px; */
  width: 100%;
  padding: 0 !important;
}

  .footer-table{
    width: 94% !important;
    /* height: 5% !important; */
    /* height: 15% !important; */
    margin: auto;
    /* margin: 0; */
    padding: 0 !important;
  }
  .td-qr{
    text-align: right !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 10px;
  }
  .table-td-izq{
    background-color: #c6c6c6;
    width: 80%;
    /* height: 5% !important; */
    font-size: 9px !important;
    text-align: center !important;
    vertical-align: auto !important;
    border-right: 7px solid #C09f77;
    /* padding: 1px 0 1px 0; */
    margin: 0 !important;
    padding: 0 !important;
  }
  .table-td-der{
    background-color: #152f4a;
    width: 20%;
    /* height: 5% !important; */
    /* border-left: 7px solid #C09f77; */
    text-align: center !important;
    vertical-align: auto !important;
    color: #fff;
    font-size: 9px !important;
    /* padding: 1px 0 1px 0; */
    margin: 0 !important;
    padding: 0 !important;
  }


/*__Table*/
table{
  page-break-inside:avoid !important;
}
.tabla-indicios{
  page-break-inside:auto !important;
}

/*__NUC*/
#section-nuc, #section-nuc .div-encabezado-nuc{
    position: fixed;
    top: 125px;
    left: 65%;
}
#section-nuc .div-nuc{
    position: fixed;
    top: 160px;
    left: 65%;

    width: 28%;
    height: auto;

    background-color: #c6c6c6;
    border-left: 8px solid #C09f77;
}

/*__Encabezado*/
.table-encabezado{
  width: 92% !important;
  margin: auto;
}
.td-fge{
  width: 20%;
  text-align: left !important;
  vertical-align:middle;
}
.td-mich{
  width: 20%;
  text-align: right !important;
  vertical-align:middle;
}
  .td-encabezado{
    vertical-align:text-top !important;
    width: 60%;
    text-align: center !important;
    margin-top: 2% !important;
    height: 140px !important;
  }
  .td-encabezado p{
    margin:0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #152f4a;
  }


  


  main section{
    margin: 0 6% 0 6%;
  }

  .tabla, .tabla th, .tabla td{
    border: 1px solid #737272;
    margin: 0;
    padding: 1px 0 1px 0;
    text-align: center;
    font-size: 9px;
  }
  .text-justify{
    text-align: justify !important;
    padding-left: 1px !important;
    padding-right: 5px !important;
  }
  .text-left{
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 2px !important;
  }
  .tabla th{
    background-color: #c6c6c6;
  }

  .tabla-seccion-dos td{
    padding: 0 !important;
    font-size: 9px;
  }
  .tabla-seccion-dos .td-descripcion{
    text-align: justify;
    padding-left: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
  }
  .td-descripcion{
    text-align: justify;
    padding-left: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
  }




  .seccion-cuatro{
    margin-top: 20px;
    height: 100px;
  }

  hr {
    page-break-after: always;
    color: #fff;
    border: 0px;
  }


  /*
    @page{
      margin-top: 0cm;
      margin-bottom:0cm;
      margin-left: 0cm;
      margin-right: 0cm;
    }
*/



 .seccion-6 p{
   font-size: 11px;
   margin: 0;
 }

 .tabla-trazabilidad{
   margin:0 !important;
   padding: 0 !important;
 }

 main section div p{
  page-break-inside:avoid !important;
 }