table.table-encabezado{
   margin-top: 1%;
   width: 30%;
   /* border-collapse: collapse; */
  /* border-radius: 0px 13px 0px 13px; */
  /* overflow: hidden; */
}
/* .table-encabezado th{
   background-color: #152f4a;
   color: white; 
}
.table-encabezado td{
   background-color: #c09f77;
   color: #394049;
} */
.table-encabezado th{
   background-color: #aaa;
   color: black;
   padding-left: 6px !important;
}
.table-encabezado td{
   background-color: #c6c6c6;
   color: black;
}
.table-encabezado th, .table-encabezado td{
   border: 2px solid white;
   font-size: 7px !important;
   padding: 1px;
}