@page {
   margin: 0cm 0cm;
   font-family: Arial;
}

*{
   margin: 0;
}

body {
   margin: 6.5cm 1cm 2cm 1cm;
}

header {
   position: fixed;
   top: 0.5cm;
   left: 1cm;
   right: 1cm;
   height: 3.5cm;
   /* background-color: #2a0927;
   color: white; */
   /* text-align: center; */
   /* line-height: 30px; */
}

footer {
   position: fixed;
   bottom: 0.5cm;
   left: 1cm;
   right: 1cm;
   height: 1cm;
   /* background-color: #2a0927;
   color: white;
   text-align: center;
   line-height: 35px; */
}
 
.header-folio{
   margin-bottom: 10px;
   /* border: 1px solid black; */
   /* background-color: #c6c6c6; */
}
   .header-folio p{
      position: relative;
      top: 0;
      left: 72%;
      width:28%;
      border: 1px solid black;
      padding: 4px 0;
      background-color: #c6c6c6;
      text-align: center;
      font-size: 20px;
   }

.header-nuc{
   margin: 7px;
   /* border: 1px solid black; */
   /* width:25%; */
   /* text-align: right; */
   /* font-size: 16px; */
   /* background-color: #c6c6c6; */
   /* border-left: 8px solid #c09f77; */
   /* padding: 1% 0%; */
}
   .header-nuc p{
      position: relative;
      top: 0;
      left: 65%;
      /* border: 1px solid black; */
   }
      .header-nuc p.nuc1{
         width:35%;
         font-size: 12px;
         font-weight: bold;
      }
      .header-nuc p.nuc2{
         width:34%;
         border-left: 8px solid #c09f77;
         padding: 3px 0;
         background-color: #c6c6c6;
         text-align: center;
         font-size: 15px;
      }


/*__main */
table.tabla-prestamo{
   width: 100%;
   border-collapse: collapse;
   /* border: 1px solid #737272; */
   margin-bottom: 20px;
}
th{
   background-color: #c6c6c6;
}
/*__tabla1*/
.tabla1 th, .tabla1 td{
   border: 1px solid #737272;
   font-size: 11px;
}
.tabla1 td{
   text-align: right;
   padding-right: 3px;
}
/*__tabla2*/
.tabla2 .th-border, .tabla2 .td-border{
   border: 1px solid #737272;
   padding: 2px 0;
   font-size: 10px;
   text-align: center;
}
.tabla-indicios th, .tabla-indicios td{
   border: 1px solid #737272;
   padding: 2px 0;
   font-size: 10px;
   text-align: center;
   vertical-align: top;
}


.tabla-prestamo{
   page-break-inside: avoid;
 }