@page {
    margin: 130px 25px 80px 25px; /* t r b l */
}

*{
    box-sizing: border-box !important;
}

/* header */
header {
    position: fixed;
    top: -110px;
    left: 0px;
    right: 0px;
    height: 60px;

    /** Extra personal styles **/
    /* background-color: #03a9f4; */
    color: black;
    text-align: center;
    /* line-height: 35px; */
}
    /* table */
    header table{
        width: 100%;
    }
    /* td */
    header table tr td{
        padding: 3px 2px;
        font-size: 12px;
        height: 23px;
        border: 1px solid black;
    }
    header table tr td.td-logo{ width: 20%; }
    /* image */
    header table tr td img{
        width: 100%;
        height: 23px;
    }

/* footer */
footer {
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px;
    height: 50px; 

    /** Extra personal styles **/
    /* background-color: #03a9f4; */
    /* color: white; */
    text-align: center;
    line-height: 35px;
}
/* main */
    /* section */
    section{
        clear: left;
    }

    /* th,td */
    main table tr th,
    main table tr td{
        border: 1px solid;
        padding: 3px 2px;
        font-size: 10px;
    }
    /* th */
    main table tr th{
        background-color: #e6e6e6;
        text-align: center;
        font-weight: bold;
    }

    /* td */
    main table tr td.td-border-left-none{ border-left: 0px; }
    main table tr td.td-border-right-none{ border-right: 0px; }
    main table tr td.td-center{ text-align: center; }
    main table tr td.td-seccion{
        background-color: gray;
        color: #fff;
        border: 1px solid #000;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    main table tr.tr-grid td{
        border: 0px;
    }

    /* seccion-dos */
    section#seccion-dos table tr td{
        text-align: center;        
    }
    
    /* seccion-dos */
    section#seccion-cuatro table tr.tr-grid td{ padding: 3px 0px; }
    section#seccion-cuatro table tr td{
        padding: 22px 0px;        
    }