/*Columna contador*/
/*sticky-1*/
#tabla-entradas .sticky-1{
   position: sticky;
   left: 0;
   width: 55px;
}
#tabla-entradas tbody tr td .sticky-1{
   background-color: #304049;
}
#tabla-entradas thead tr th{
   background-color: #304049;
}
/*Columna acción*/
/*sticky-2*/
#tabla-entradas .sticky-2{
   position: sticky;
   left: 55px;
   width: 80px;
}
#tabla-entradas tbody tr .sticky-2{
   background-color: #c09f77 !important;
}
/*Columna folio*/
/*sticky-3*/
#tabla-entradas .sticky-3{
   position: sticky;
   left: 135px;
   width: 160px;
}
#tabla-entradas tbody tr .sticky-3{
   background-color: #152f4a !important;
}
#tabla-entradas tbody tr td.sticky-3{
   color: #c6c6c6 !important;
   width: 100px;
}